# You have to install few libraries to work on this.

Download python from https://www.python.org/downloads/

Install Flask, Flask Table using command prompt.

  $ pip install Flask

  $ pip install flask_table

# Download / Clone repository add run main.py

Run main.py in Command prompt.

python main.py

Our local web server is running in the port 5001.
